@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Welcome to TUC!</h1>
        <p class="lead">This is the official registration portal for TUC. Here, students can apply for their courses and admins can manage the registration process.</p>
        <hr class="my-4">
        <p>Click the Apply button on the navigation menu to start your registration process or the Admin button to manage registrations.</p>
    </div>
</div>